.thumbnail-five-day-control {
	width: 100%;
	height: auto;
	padding-top: 10px;
	padding-bottom: 31px;
	justify-content: center;
	.thumbail-image {
		width: 56.44px;
		height: 100%;
		object-fit: cover;
	}
}
