.next-five-day-control {
	justify-content: space-between;
	padding-top: 66px;
	.weather-five-day-list {
		width: 120px;
		height: 177px;
		background-color: #1e213a;
		.date-control {
			justify-content: center;
			padding-top: 18px;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
		}
	}
}
@media all and (max-width: 768px) {
	.next-five-day-control {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0 30px;
		.weather-five-day-list {
			margin-bottom: 32px;
		}
	}
}
