.search-place-control {
	width: 100%;
	position: relative;
	.btn-search-btn-default {
		padding: 42px 46px 0 46px;
		.btn-search-place {
			width: 161px;
			height: 40px;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			background-color: #6e707a;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
		}
		.material-icons-round {
			width: 40px;
			height: 40px;
			background: rgba(255, 255, 255, 0.2);
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 50%;
			justify-content: center;
		}
	}
	.dialog-search-control {
		position: absolute;
		width: 100%;
		height: 865px;
		flex-direction: column;
		padding: 12px 46px 0 46px;
		.material-icons-round {
			justify-content: flex-end;
		}
	}
}
