* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.content-control {
	width: 100%;
	display: flex;
	.content-one-control {
		width: 43.4%;
		// width: 459px;
		max-height: 1023px;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
	}
	.content-two-control {
		padding: 42px 200px 0 200px;
		width: 100%;
		background: #100e1d;
	}
}
@media all and (max-width: 768px) {
	.content-control {
		display: unset;
		.content-one-control {
			width: 100%;
		}
		.content-two-control {
			width: 100%;
			padding: 52px 24px 0 21px;
		}
	}
}
