* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.loading-control {
	margin-top: 50px;
	font-family: 'Roboto';
	font-size: 20px;
	text-align: center;

	.loading {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.loading-title {
		padding-top: 30px;
	}
}

.content-control {
	width: 100%;
	display: flex;
	.content-one-control {
		width: 43.4%;
		// width: 459px;
		max-height: 1023px;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
	}
	.content-two-control {
		padding: 42px 200px 0 200px;
		width: 100%;
		background: #100e1d;
	}
}
@media all and (max-width: 768px) {
	.loading-control {
		width: 100%;
	}
	.content-control {
		display: unset;
		.content-one-control {
			width: 100%;
		}
		.content-two-control {
			width: 100%;
			padding: 52px 24px 0 21px;
		}
	}
}
